@import url("https://fonts.googleapis.com/css?family=Neucha&subset=latin,cyrillic");

body {
    background-color: white;
    font-family: 'Neucha', cursive;
    font-size: 18px;
}

#wrapper {
    margin: 0 auto;
    width: 1600px;
    min-height: 1450px;
    background: url("../img/ship-wheel.png") no-repeat;
}

header {
    padding: 35px 0 0 0;
}

h1 {
    font-size: 4em;
    font-weight: 700;
    text-align: center;
    color: #202c2d;
    text-shadow:
            0 1px #808d93,
            -1px 0 #cdd2d5,
            -1px 2px #808d93,
            -2px 1px #cdd2d5,
            -2px 3px #808d93,
            -3px 2px #cdd2d5,
            -3px 4px #808d93,
            -4px 3px #cdd2d5,
            -4px 5px #808d93,
            -5px 4px #cdd2d5,
            -5px 6px #808d93,
            -6px 5px #cdd2d5,
            -6px 7px #808d93,
            -7px 6px #cdd2d5,
            -7px 8px #808d93,
            -8px 7px #cdd2d5;
}